/* main styles */

#game {
  margin: 0 auto;
  padding: 0;
}

body{
  background: #131313;
  color: #DBDBDB;
  font-size: 32px;
}

h1, .h1{ font-size: 2em; }
h2, .h2{ font-size: 1.8em; }
h3, .h3{ font-size: 1.6em; }
h4, .h4{ font-size: 1.4em; }
h5, .h5{ font-size: 1.2em; }
h6, .h6{ font-size: 1em; }

.form-control.large{
  height: auto;
  font-size: 2em;
  font-weight: 600;
}

.dark-green{
  color: #16A085;
}

.dark-green::-webkit-input-placeholder{
   color: #1ABC9C;
}

.btn-larger{
  font-size: 1.6em;
  padding: 6px 20px;
  margin-bottom: 20px;
}

.btn-huge{
  font-size: 2.4em;
  padding: 35px 20px;
  margin-bottom: 32px;
}

.lobby-players{
  list-style: none;
  margin: 20px 0;
}

.lobby-players li{
  padding: 8px 12px 8px 0;
  margin: 2px 0;
  font-size: 2em;
  border-radius: 0 10px 10px 0;
  font-weight: 600;
  color: #1B1B1B;
}

.lobby-players li img{
  margin-right: 12px;
}

.lobby-players li.player-1{
  background-color: #ceb621;
}
.lobby-players li.player-2{
  background-color: #d4000b;
}
.lobby-players li.player-3{
  background-color: #009000;
}
.lobby-players li.player-4{
  background-color: #003BFF;
}

.game-id{
  background: #1abc9c;
  padding: 12px 18px;
  color: #fff;
  border-radius: 12px 12px 12px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-id label{
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 0;
}
.game-id p{
  font-size: 4em;
  font-weight: 600;
  margin-top: -18px;
  margin-bottom: 0;
}

.game-id-input{
  width: 6em;
  display: inline-block;
}
