<div class="page-header">
  <h2>
    Join a game
  </h2>
</div>
<form ng-submit="submit();">
  <div class="form-group text-center">
    <input type="text" placeholder="Game ID" class="form-control large text-center game-id-input" ng-model="roomId" />
  </div>
  <div class="form-group">
    <input type="text" placeholder="Your name" class="form-control large text-center" ng-model="name" />
  </div>
  <div class="form-group text-right">
    <input type="submit" class="btn btn-larger btn-block btn-success" value="Start" />
  </div>
</form>
