<div class="row">
  <ul class="lobby-players col-lg-6">
    <li ng-repeat="player in players" class="player-{{$index+1}}">
      <img src="images/player{{$index+1}}.png" />{{player.name}}
    </li>
  </ul>

  <div class="col-lg-6 text-center">
    <div class="lobby-section game-address">
      <label>Tell your fellow beavers to visit:</label>
      <p id="game-address">{{$location.protocol()}}://{{$location.host()}}:{{$location.port()}}</p>
    </div>

    <div class="lobby-section game-id">
      <label>Game ID</label>
      <p>{{roomId}}</p>
    </div>
  </div>
</div>

<button class="btn btn-warning btn-block btn-larger" ng-show="currentPlayer.role == 'host'" ng-click="hostStartGame()">Start Game</button>

<div class="alert alert-warning text-center" ng-show="currentPlayer.role != 'host'">
  Please wait for the host to start the game
</div>
